:root {
  --sidebar-folder-color-1: #ff5c5c;
  --sidebar-folder-color-2: #5cff7e;
  --sidebar-folder-color-3: #5caeff;
  --sidebar-folder-color-4: #ffb85c;
  --sidebar-folder-color-5: #b05cff;
  --sidebar-folder-color-6: #5cfff5;
  --sidebar-folder-color-7: #b0b0b0;
  --sidebar-file-color: #4a90e2;
}
